[submodule "src/third_party/EspTinyUSB"]
	path = src/third_party/EspTinyUSB
	url = git@github.com:RetiaLLC/EspTinyUSB.git
    branch = master
[submodule "src/third_party/arduino_base64"]
	path = src/third_party/arduino_base64
	url = https://github.com/dojyorin/arduino_base64
[submodule "src/third_party/arduino-LoRa"]
	path = src/third_party/arduino-LoRa
	url = git@github.com:sandeepmistry/arduino-LoRa.git
